.colorizer-container {
  position: fixed;
  width: 40px;
  height: 100vh;
  top: 20px;
  left: calc(100% - 40px - 20px);
  user-select: none;
}

.colorizer-menu {
  width: 40px;
  background-color: #ddd;
  border-radius: 5px;
}

.colorizer-menu-item {
  padding: 0px 0;
  cursor: pointer;
  border-radius: 5px;
}

.colorizer-menu-item:hover {
  background-color: #eee;
}

.colorizer-menu-icon {
  width: 40px;
  height: 40px;
  object-fit: none;
  object-position: center;
}
