/* common */
body {
  margin: 0;
}

.none {
  display: none !important;
}

/* outlayer */
.region-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.region-content {
  display: grid;
  grid-template-columns: 300px auto;
  justify-items: center;
  gap: 90px;
}

/* banner */
.banner {
  position: relative;
  min-width: 100vw;
  min-height: 300px;
  background-image: url(/sky-scan/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* select-region */
.select-wrapper {
  padding: 0 20px;
  border-right: 2px solid #666;
}

.city-title {
  font-size: 19px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  padding: 20px;
  color: rgb(56, 56, 152);
}

select {
  width: 300px;
  height: 44.5px;
}

/* tabs */
.content-wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding: 0 20px;
}

.tabs {
  width: 786px;
  display: grid;
  grid-template-columns: repeat(2, 262px);
  justify-content: center;
  margin: 60px 0;
}

.tabs div {
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666;
  cursor: pointer;
}

.tabs div:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.tabs div:nth-child(2) {
  border-radius: 0 5px 5px 0;
}

.tab-seleted {
  background-color: rgb(36, 96, 186);
  color: #fff;
}

/* table */
table {
  font-family: 微軟正黑體;
  font-size: 16px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}

thead th {
  background-color: rgb(25, 150, 161);
  color: white;
}

tbody th {
  color: rgb(16, 113, 122);
  padding: 0 10px;
}

th,
td {
  border: 1px solid #e8e8e8;
}

td {
  padding: 10px;
}

img {
  width: 30px;
  height: 30px;
}

/* 3HR-table */
.HR3_time td,
.HR3_temperature td,
.HR3_rain-probabitlity td,
.HR3_BF-wind td,
.HR3_wind-direction td {
  background-color: rgb(251, 251, 233);
}

/* WEEK-table */
.WEEK_date td {
  background-color: rgb(25, 150, 161);
  color: white;
  font-weight: 700;
}

.WEEK_time td {
  color: #489;
  font-weight: 700;
}

.WEEK_time td,
.WEEK_max-temperature td,
.WEEK_rain-probabitlity td,
.WEEK_min-apparent-temperature td,
.WEEK_BF-wind td,
.WEEK_wind-direction td {
  background-color: rgb(251, 251, 233);
}
