.taiwan-map {
  position: relative;
  width: 600px;
  margin-top: 100px;
}

.taiwan-map svg path {
  fill: #BBD1EA;
  stroke: #04080F;
}

.taiwan-map svg path:hover {
  fill: #507DBC;
}

.taiwan-map-tooltip {
  position: absolute;
  white-space: nowrap;
  display: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}